DB_HOST=localhost
DB_NAME=mydb
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=supersecret
PORT=3000
REDIS_HOST=localhost
REDIS_PORT=6379
MONGO_URI=mongodb+srv://freemongodb:ZIPTU5l65KtsJj0a@freecluster.4m5syjb.mongodb.net/testbed?retryWrites=true&loadBalanced=false&replicaSet=atlas-aatoh0-shard-0&readPreference=primary&srvServiceName=mongodb&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-1